.field {
  padding: 0.6em;
}

.label {
  color: green;
  display: block;
  padding: 0 0 .5em 0;
}

.input {
  padding: 1em;
  display:inline-block;
  width: 20em;
}

.error {
  display:inline-block;
  padding: 0 1em;
  color: red;
}

